@font-face {
	font-family: 'GearSlabExtraBold';
	font-weight: 400;
	src: url(../fonts/GearedSlab-Extrabold.ttf);
}

body {
	background-color: #5bbce5;
}

/* Ejemplo de @media
 @media (max-width: 1199px) and (min-width: 992px){

 .logo {
 background-image: url('../img/header-m.png');
 background-repeat: repeat-x;
 }

 }*/

.logo {
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: lato;
	text-transform: uppercase;
	border: 30px solid transparent;
	border-image: url('../img/header-border.png') 30 30 30 30 round round;
	background-image: url('../img/header-bg.png');
	background-repeat: repeat-x repeat-y;
}

.logo .col-md-2 img {
	max-width: 130px;
}

.logo .col-md-10 {
	vertical-align: middle;
}

.logo .col-md-10 h1 {
	font-family: "GearSlabExtraBold";
	font-size: 50px;
	color: #ebebeb;
}

.logo .col-md-10 h2 {
	font-size: 27px;
	color: #FFF
}

#nav .navbar-default {
	background-color: #2934c8;
	border-bottom-color: #4852d4;
	color: #FFF;
	margin-bottom: 0px;
}

#nav .navbar-default .navbar-collapse {
	border-color: #2934c8;
}

#nav .navbar-default .navbar-toggle:hover {
	background-color: #1520ac;
}

#nav .navbar-default ul li a {
	color: #FFF;
}

#nav .navbar-default ul li:hover, #nav .navbar-default .navbar-nav > .open > a, #nav .navbar-default .navbar-nav > .open > a:hover, #nav .navbar-default .navbar-nav > .open > a:focus, #nav .dropdown-menu > li > a:hover, #nav .dropdown-menu > li > a:focus {
	background-color: #1520ac;
}

#nav .dropdown-menu {
	background-color: #2934c8;
}

#nav .navbar-default .icon-bar {
	background-color: #FFF;
}

.about, .about .thumbnail .caption, #projects, #projects .thumbnail .caption, #contact, .footer, .design {
	color: #FFF;
	font-family: lato;
}

.about h1, #projects h1, #contact h1 {
	font-size: 36px;
}

.about h2, #projects h2, #contact h2 {
	font-size: 18px;
}

.about .row {
	text-align: center;
}

.about .thumbnail, #projects .thumbnail {
	background-color: transparent;
	border-style: none;
}

.about .thumbnail > img, #projects .thumbnail > img {
	max-width: 150px;
}

.footer {
	background-color: #101a9b;
	border-top-color: #4852D4; 
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer .media {
	margin-top: 10px;
}

.footer .media .pull-left img {
	width: 64px;
	height: 72px;
}

.footer h4 {
	font-size: 18px;
	font-weight: bold;
}

.footer .label-info {
	padding: 5px 15px;
	border-radius: 0px;
	display: inline-block;
	margin-left: 5px;
	margin-top: 5px;
}

.footer a .fa {
	color: #FFF;
	padding: 5px 5px 5px 5px;
	border-radius: 3px;
	width: 35px;
	height: 35px;
	text-align: center;
}

.fa-twitter {
	background-color: #5EA9DD;
}

.fa-google-plus {
	background-color: #D73D32;
}

.fa-linkedin {
	background-color: #0177B5;
}

.fa-facebook {
	background-color: #3B5998;
}

.design {
	background-color: #000436;
	padding-top: 10px;
	padding-bottom: 5px;
}

textarea {
	resize: none;
}

#loading {
	display: none;
}