<div class="media">
	<a class="pull-left" href="#top">
		<img src="./img/logo.png" alt="Logo LR" title="Ir al inicio" />
	</a>
	<div class="media-body">
		<h4 class="media-heading">Acerca de la Web</h4>
		La web ha sido creada con Smarty Template, junto con otros elementos como Bootstrap para adquirir Responsive Design.
	</div>
</div>
