<h4>Etiquetas</h4>
<span class="label label-info">Android</span>
<span class="label label-info">PHP</span>
<span class="label label-info">Java</span>
<span class="label label-info">JavaScript</span>
<span class="label label-info">MVC</span>
<span class="label label-info">ORM</span>
<span class="label label-info">C#</span>
<span class="label label-info">Microsoft Office</span>
<span class="label label-info">Linux</span>
<span class="label label-info">HTML5</span>
<span class="label label-info">Responsive Design</span>
<span class="label label-info">J2EE</span>
<span class="label label-info">MySQL</span>
<span class="label label-info">Oracle</span>
<span class="label label-info">JDBC</span>
<span class="label label-info">Git</span>
<span class="label label-info">SVN</span>
<span class="label label-info">JSP</span>
