.nav {
	background-color: #2548B3;
	padding-top: 10px;
}

.nav a {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav a:hover {
	background-color: #1538B3;
	text-decoration: none;
	border-radius: 3px;
}

.nav li {
	display: inline;
}

.neighborhood-guides {
	background-color: #efefef;
	border-bottom: 1px solid #dbdbdb
}

.neighborhood-guides h2 {
	color: #393c3d;
	font-size: 24px;
}

.neighborhood-guides p {
	font-size: 15px;
	margin-bottom: 13px;
}

.learn-more {
	background-color: #f7f7f7;
}

.learn-more h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.learn-more a {
	color: #00b0ff;
}

/* CUSTOMIZE THE CAROUSEL
 -------------------------------------------------- */

/* Carousel base class */
.carousel {
	background-image: url('http://goo.gl/04j7Nn');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 60px;
}

.carousel h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.carousel h1 code {
	color: #C7254E;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.carousel p {
	font-size: 20px;
	color: #fff;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}