html {
	background-color: #062134;
}

body {
	margin: 0 auto;
	margin-top: 10px; width : 60%;
	width: 55%;
}

header {
	text-align: center;
}

header h1 {
	font-family: "Monotype Corsiva";
	color: #FFFFFF;
}

header hr {
	width: 22%;
	height: 2px;
	background-color: #FFFFFF;
	color: #FFFFFF;
	border-color: #FFFFFF;
	display: inline-block;
	vertical-align: middle;
}

header img {
	display: inline-block;
	vertical-align: middle;
}

nav table {
	width: 100%;
	text-align: center;
	border: none;
	border-collapse: collapse;
	font-family: fantasy;
}

nav table th {
	width: 25%;
	background-color: #5E46DA;
}

nav table th:hover {
	background-color: red;
}
