@font-face {
	font-family: spinCycle;
	src: url("SPINC___.TTF");
}

@font-face {
	font-family: alienEncounters;
	src: url("Alien-Encounters-Regular.ttf");
}

html {
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%,
		transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

body {
	margin: 0 auto;
	margin-top: 20px; width : 60%;
	border-style: solid;
	background: linear-gradient(teal, olive);
	border-radius: 25px;
	width: 55%;
}

nav {
	background: linear-gradient(black, grey);
	text-align: center;
}

nav ul li {
	list-style-type: none;
	display: inline;
	margin-left: 25px;
	margin-right: 25px;
}

nav ul li a {
	font-family: spinCycle;
	font-size: x-large;
	font-variant: small-caps;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.4);
	color: white;
	text-decoration: none;
}

nav ul li a:hover {
	color: teal;
}

section {
	width: 69%;
	float: right;
	margin-right: 20px;
	margin-left: 10px;
}

section h1 {
	font-variant: small-caps;
}

section p {
	text-align: justify;
}

section ul li {
	list-style-type: square;
}

section ul li mark {
	font-weight: bold;
	background-color: transparent;
}

aside {
	width: 26%;
	float: left;
	text-align: center;
}

aside img {
	border-radius: 5px;
}

aside a {
	text-decoration: none;
	color: white;
}

aside ul {
	margin: 0px 0px 0px 9px;
	padding: 0px 0px 0px 9px;
}

aside ul li {
	list-style-type: none;
	border-radius: 10px;
	border-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
	background: linear-gradient(blue, navy);
}

aside ul li:hover {
	color: blue;
	background: linear-gradient(grey, black);
}

aside ul li:active {
	background: linear-gradient(blue, navy);
	color: white;
}

aside ul li a {
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
	font-variant: small-caps;
}

figcaption {
	font-family: monospace;
	font-weight: bold;
}

footer {
	clear: both;
	margin-left: 10px;
	margin-right: 10px;
	font-family: monospace;
	font-weight: bold;
}

footer img {
	border-style: none;
	border-radius: 5px;
}

#cabecera {
	text-align: center;
	font-family: alienEncounters;
}

#copyright {
	width: 89%;
}